@if (song(); as song) {
    <div class="song">
        <div class="song__changes">
            <app-transposer [value]="transpose()" (getCount)="getTransposeCount($event)"></app-transposer>
            <mat-icon matListItemIcon (click)="changeColumnsCount()">view_column</mat-icon>
        </div>
 
        <app-song-view [transpose]="transpose()" [song]="songDb || song" [columnsCount]="columnsCount()"></app-song-view>
    <div class="song__actions">
        <button (click)="removeSong()" mat-raised-button color="warn">Usuń</button>
        <button (click)="editSong()" mat-raised-button color="primary">Edytuj</button>
    </div>

    </div>
   
}

