@if (song(); as song) {
    <div class="song">
        <div class="song__changes">
            <app-transposer [value]="transpose()" (getCount)="getTransposeCount($event)"></app-transposer>
           <button mat-mini-fab (click)="changeColumnsCount()"><mat-icon>view_column</mat-icon></button> 
        </div>
 
        <app-song-view [transpose]="transpose()" [song]="songDb || song" [columnsCount]="columnsCount()"></app-song-view>
      

            @if(song?.link){
                <div class="song__link">
                <button (click)="openInNewTab()" mat-icon-button color="warn" aria-label="Example icon button with a menu icon">
                    <mat-icon>youtube_searched_for</mat-icon>   
                    </button>
                </div>
            }
    
      
    @if (isLoggin()) {
        <div class="song__actions">
            <button (click)="removeSong()" mat-raised-button color="warn">Usuń</button>
            <button (click)="editSong()" mat-raised-button color="primary">Edytuj</button>
        </div>
    }
    </div>
   
}

