<h2 mat-dialog-title>{{song ? 'Edytuj utwór' : 'Dodaj utwór'}}</h2>
<mat-dialog-content>
  <p>What's your favorite animal?</p>
  <form class="form" [formGroup]="songForm">
  <mat-form-field>
    <mat-label>Tytuł</mat-label>
    <input formControlName="title" matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tekst</mat-label>
    <textarea formControlName="text" matInput></textarea>
  </mat-form-field>
</form>
</mat-dialog-content>
<mat-dialog-actions>
  <button [disabled]="songForm.invalid" (click)="submitForm()" mat-button cdkFocusInitial>Zapisz</button>
  <button mat-button mat-dialog-close >Anuluj</button>
</mat-dialog-actions>
