<h2 mat-dialog-title>{{song ? 'Edytuj utwór' : 'Dodaj utwór'}}</h2>
<mat-dialog-content>
  <p>Format zapisu utworów: <br />
    [C E G] <br />
    Wers piosenki
  </p>
  <form class="form" [formGroup]="songForm">
  <mat-form-field>
    <mat-label>Tytuł</mat-label>
    <input formControlName="title" matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tekst</mat-label>
    <textarea cdkTextareaAutosize formControlName="text" matInput></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Link</mat-label>
    <input formControlName="link" matInput>
    <mat-hint>Opcjonalnie</mat-hint>
  </mat-form-field>
</form>
</mat-dialog-content>
<mat-dialog-actions>
  <button [disabled]="songForm.invalid" (click)="submitForm()" mat-button>Zapisz</button>
  <button mat-button mat-dialog-close >Anuluj</button>
</mat-dialog-actions>
