<div class="main">
  <app-toolbar (toggleOne)="nav1.toggle()" (toggleTwo)="nav2.toggle()"></app-toolbar>
  <mat-sidenav-container class="container"  [style.marginTop.px]="height">
      <mat-sidenav [opened]="!isPhoneviewed" #nav1 [fixedTopGap]="height" class="sidenav" opened mode="side">
        <mat-toolbar class="subHeader">
          <button (click)="openAddSong()" mat-raised-button color="primary">Dodaj</button>
        </mat-toolbar>
        @if (songs()) {
          <app-sidenav-list [songs]="songs()" />
        }

      </mat-sidenav>
      <mat-sidenav #nav2 [fixedTopGap]="height" class="sidenav" [opened]="!isPhoneviewed" mode="side" position="end">
        <mat-toolbar class="subHeader">
           <button mat-raised-button color="primary" (click)="printSongs()">Drukuj</button>
        </mat-toolbar>
        <app-sidenav-draggable [songs]="songsFromDb()"/>
        <app-print class="hide" [songs]="songsFromDb()"></app-print>
      </mat-sidenav>
      <mat-sidenav-content class="content">
        <router-outlet />
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>
