.container{
    flex: 1;
}

.main{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.subHeader{
    position: absolute;
    background-color:white;
    padding: 0;
    z-index: 10;

    .btn{
        margin: 0 .5em;
    }
}
.subHeader{
   display: flex;
   justify-content: space-between;
}

.sidenav{
min-width: 200px;
}

.hide{
    display: none;
}