<div class="main">
  <app-toolbar (toggleOne)="nav1.toggle()" (toggleTwo)="nav2.toggle()"></app-toolbar>
  <mat-sidenav-container class="container"  [style.marginTop.px]="height">
      <mat-sidenav [opened]="!isPhoneviewed" #nav1 [fixedTopGap]="height" class="sidenav" opened mode="side">
        <mat-toolbar class="subHeader">
          <button class="btn" (click)="openAddSong()" mat-flat-button color="primary">Dodaj</button>
          <button (click)="nav1.toggle()" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
            <mat-icon>{{ nav1.opened ? 'keyboard_arrow_right' : 'keyboard_arrow_left'}}</mat-icon>
          </button>
        </mat-toolbar>
        @if (songs()) {
          <app-sidenav-list [songs]="songs()" />
        }

      </mat-sidenav>
      <mat-sidenav #nav2 [fixedTopGap]="height" class="sidenav" [opened]="!isPhoneviewed" mode="side" position="end">
        <mat-toolbar class="subHeader">
          <button (click)="nav2.toggle()" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
            <mat-icon>{{ nav2.opened ? 'keyboard_arrow_left' : 'keyboard_arrow_right'}}</mat-icon>
          </button>
           <button class="btn" mat-flat-button color="primary" (click)="printSongs()">Drukuj</button>
        </mat-toolbar>
        <app-sidenav-draggable [songs]="songsFromDb()"/>
        <app-print class="hide" [songs]="songsFromDb()"></app-print>
      </mat-sidenav>
      <mat-sidenav-content class="content">
        <router-outlet />
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>
