@if(songEl){
    <div class="song">
        <h1 class="song__title">{{songEl.title}}</h1>
        <div class="song__text" [ngStyle]="{'columns': columnsCount}">
            @for (item of songArr; track item) {
                @if(checkIfChords(item)){
                    <pre class="chord">{{removeSquereBrackets(item)}}</pre>
                } @else {
                    <pre>{{item}}</pre>
                }
    
            @if (item === '') {
                <br />
            }
        }
        </div>
    </div>
}

  


