.chord{
    font-weight: bold;
}

.song{
    margin: 0 auto;
    width: fit-content;
    &__title{
        text-align: center;
        text-transform: uppercase;
    }

    &__text {
        columns: 1; /* Podział treści na dwie kolumny */
        column-gap: 20px; /* Odstęp między kolumnami */
      }
      
      &__text pre {
        font-family: 'Roboto';
        font-size: 16px;
        margin: 0; /* Usunięcie domyślnego marginesu */
      }
}